<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "./partials/head.html" ignore missing with context %}
    <title>Nasa APOD</title>
</head>
<body>
    {% include "./partials/nav.html" ignore missing with context %}
    <h1>{{ data.title }}</h1>
    <img src="{{ data.url }}" alt="{{ data.title }}" style="max-width: 100%; height: auto;">
    <p><strong>Date:</strong> {{ data.date }}</p>
    <p>{{ data.explanation }}</p>
    <p>Image source: NASA, <a href="https://apod.nasa.gov/apod/">APOD</a></p>
    {% include "./partials/dependencies.html" ignore missing with context %}
</body>
</html>

